.header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color : rgb(32, 64, 81);;
    color: white;
}
img
{
    margin: 10px 10px 10px 10px;
    border-radius: 0%;
}