<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Add</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
</div>

<div class="modal-body">

	<form #formCars="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for ="marca">Marca</label>
			<input type="text" class="form-control" id="brand" placeholder="Agrega la marca" [(ngModel)] = "car.marca" required name = "marca" #marca = "ngModel">
	</div>

			<div [hidden]="marca.valid || marca.pristine" class="alert alert-danger">
				Se requiere ingresar una marca
			</div>

			<div class="form-group">
				<label for ="submarca">Submarca</label>
				<input type="text" class="form-control" id="submarca" placeholder="Agrega la submarca" [(ngModel)] = "car.submarca" required name = "submarca" #submarca ="ngModel">
	</div>

				<div [hidden]="submarca.valid || submarca.pristine" class="alert alert-danger">
					Se requiere ingresar uan submarca
				</div>

				<div class="form-group">
					<label for ="descripcion">Descripción</label>
					<input type="text" class="form-control" id="descripcion" placeholder="Agrega la descripción" [(ngModel)] = "car.descripcion" name = "descripcion" required #descripcion="ngModel">
	</div>
					<div [hidden]="descripcion.valid || descripcion.pristine" class="alert alert-danger">
						Se requiere ingresar una descripción
					</div>

					<div class="form-group">
						<label for ="modelos">Modelos</label>
						<input type="text" class="form-control" id="modelos" placeholder="Agrega el/los modelo/ s"[(ngModel)] = "car.modelos" name = "modelos">
	</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-outline-dark" [disabled]="!formCars.form.valid"> Guardar </button>
						</div>
	</form>
</div>
